html, body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

body.auth{
    background: #000;
}


section{
    height: 100% !important;
    width: 100%;
    float: left;
}

.easy-parking-welcome{
    text-align: center;
    color: #FFF;
    margin-top: 100px;
}

.menu-active {
    color: #222;
    background: #f9f9f9;
}

.arduinos{
    float: left;
    width: 18%;
    padding: 5px;
    background: #DBFDEF;
    text-align: center;
}

.arduinos .arduino{
    width: 31.34%;
    float: left;
    margin: 1%;
    background: #B2F39F;
    height: 100px;
    z-index: 1;
}

.places {
    float: right;
    width: 80%;
    height: 100%;
}

.places.full{
    width: 100%;
}

.places .place {
    background: red; 
    border: 1px solid #B2F39F;
    float: left;
    background: #DBFDEF;
    position: relative;
}

.places .place .arduino{
    z-index: 1;
    position: absolute;
    width: 50%;
    height: 50%;
    display: inline-block;
    left: 50% !important;
    top: 50% !important;
    background:#B2F39F;
    transform: translate(-50%, -50%);    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.places .place.active {
    background: #FC382C;
}

input.form-error, select.form-error, textarea.form-error {
    border: 2px solid red !important;
}